.nav-item-hover {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.nav-item-hover:hover {
    background-color: #e0e0e0;
    /* Altere a cor conforme sua preferência */
    color: #333;
    /* Cor do texto ao passar o mouse */
}