.nav-item-hover {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

.nav-item-hover:hover {
    background-color: #e0e0e0;
    color: #333;
}

.layout-content {
    padding: 0 40px;
}